
@model WebApp.Models.tb_Arena

@{
    var listCate = ViewBag.listCate as List<SelectListItem>;
    var listSize = new List<SelectListItem>();
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header ">
            <h1 class="modal-title w-100 text-center fs-5 text-uppercase" id="staticBackdropLabel">Thêm phòng</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        @using (Ajax.BeginForm("CreateArena", "Home", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnSuccess = "Success",
            OnFailure = "Failure",
        }))
        {
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-6">
                        <label class="form-label" for="ArenaID">Mã phòng<span class="text-danger"> *</span></label>
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.ArenaID, new { @class = "form-control mauxam ", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="ArenaName">Tên phòng<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextBoxFor(m => m.ArenaName, new { @class = "form-control" })
                            <span id="arenaNameError" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="col-sm-6">
                        <label class="form-label" for="ArenaName">Loại khu vực<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.DropDownListFor(m => m.CateID, listCate, "--Chọn khu vực--", new { @class = "form-control" })
                            <span id="cateError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="ArenaName">Loại phòng<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.DropDownListFor(m => m.SizeID, listSize, "--Chọn loại phòng--", new { @class = "form-control" })
                            <span id="sizeError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 box-maxperson">
                        <label class="form-label" for="ArenaName">Số người tối đa <span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextBoxFor(m => m.MaxPersons, new { @class = "form-control" })
                            <span id="maxpersonsError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="ArenaName">Mô tả</label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                            <span id="descriptionError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="ArenaName">Image</label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
                            <span id="imageError" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-submit btn btn-primary">Thêm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        }
    </div>
</div>

<script>

    $('#CateID').on('change', function () {
        if ($('#CateID').val() === 'gym' || $('#CateID').val() == 'swimming') {
            $('.box-maxperson').show();
        } else {
            $('.box-maxperson').hide();
        }

        var cateID = $('#CateID').val();
        if (cateID != null) {
            $.ajax({
                url: '/Home/GetDropDownSise',
                type: 'GET',
                data: { cateID: cateID },
                success: function (rs) {
                    $('#SizeID').empty();
                    if (rs.success) {
                        $('#SizeID').append('<option value="">--Chọn loại phòng--</option>');
                        rs.data.forEach(function (item) {
                            $('#SizeID').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                        });
                    }
                    
                },
                error: function () {
                    toastr.error("Đã có lỗi khi lấy loại phòng!", "Thông báo");
                }
            })
        }

    });

    $('.btn-submit').on('click', function (event) {
        if (!validateArenaName() || !validateCate() || !validateSize()

        ) {
            event.preventDefault();
        }
    })

    $(document).ready(function () {
        $('.box-maxperson').hide();
    })
</script>