


@model WebApp.Models.tb_Booking

@{
    var listUser = ViewBag.listUser as List<SelectListItem>;
    var listArena = ViewBag.listArena as List<SelectListItem>;
    var listShift = ViewBag.listShift as List<SelectListItem>;
    var listStatus = ViewBag.listStatus as List<SelectListItem>;
}

<style>
    .col-sm-6 {
        padding-bottom: 15px;
    }
</style>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header ">
            <h1 class="modal-title w-100 text-center fs-5 text-uppercase" id="staticBackdropLabel">Sửa lịch đặt phòng</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        @using (Ajax.BeginForm("EditBooking", "Home", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnSuccess = "Success",
            OnFailure = "Failure",
        }))
        {
            <div class="modal-body">
                <div class="row">
                    @Html.HiddenFor(m => m.ID)
                    <div class="col-sm-6">
                        <label class="form-label" for="BookingID">Mã <span class="text-danger"> *</span></label>
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.BookingID, new { @class = "form-control mauxam ", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="UserID">Người đặt<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.DropDownList("UserID", listUser, "--Chọn người đặt--", new { @class = "form-control" })
                            <span id="userIDError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="StartTime">Ngày bắt đầu<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control datetimepicker datetimepicker-ngaybatdau ", type = "date" })
                            <span id="startTimeError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="EndTime">Ngày kết thúc<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control datetimepicker datetimepicker-ngayketthuc ", type = "date" })
                            <span id="endTimeError" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="col-sm-6">
                        <label class="form-label" for="ArenaID">Phòng<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.DropDownList("ArenaID", listArena, "--Chọn phòng--", new { @class = "form-control" })
                            <span id="arenaIDError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="ShiftID">Khung giờ<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.DropDownList("ShiftID", listShift, "--Chọn khung giờ--", new { @class = "form-control" })
                            <span id="shiftIDError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="ContactName">Người liên hệ<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                            <span id="contactNameError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="PhoneNumber">SĐT</label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            <span id="phoneNumberError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="Money">Tiền<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextBoxFor(m => m.Money, new { @class = "form-control" })
                            <span id="moneyError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="Status">Trạng thái<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.DropDownList("Status", listStatus, "--Chọn trạng thái--", new { @class = "form-control" })
                            <span id="statusError" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="Note">Ghi chú</label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                            <span id="noteError" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-submit btn btn-primary">Sửa</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        }
    </div>
</div>

<script>

    $('.btn-submit').on('click', function (event) {
        // Gọi lại các hàm validation
        if (!validateUserID() ||
            !validateNgayBatDau() ||
            !validateNgayKetThuc() ||
            !validateArenaID() ||
            !validateShiftID() ||
            !validateContactName() ||
            !validateMoney() ||
            !validateStatus() ||
            !validatePhoneNumber()) {
            event.preventDefault();
        }

    })

    function convertDateFormat(dateTimeString) {
        var dateObj = new Date(dateTimeString);
        var year = dateObj.getFullYear();
        var month = (dateObj.getMonth() + 1).toString().padStart(2, "0");
        var day = dateObj.getDate().toString().padStart(2, "0");
        return year + "-" + month + "-" + day;
    }

    function setDatePicker(className) {
        var datetimepicker = document.getElementsByClassName(className);
        if (datetimepicker.length > 0) {
            var dateTimeString = datetimepicker[0].getAttribute('value');
            var formattedDate = convertDateFormat(dateTimeString);
            datetimepicker[0].setAttribute('value', formattedDate);
        }
    }


    $(document).ready(function () {
        setDatePicker('datetimepicker-ngaybatdau');
        setDatePicker('datetimepicker-ngayketthuc');
    })
</script>