
@{
    var listSize = ViewBag.listSize;
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã loại phòng</th>
            <th scope="col">Tên loại phòng</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody class="table-content">
        @{
            var STT = 1;
            foreach (var item in listSize)
            {
                <tr>
                    <td>@STT</td>
                    <td>@item.SizeID</td>
                    <td>@item.SizeName</td>
                    <td>
                        <div class="btn btn-warning btn-fix" onclick="Edit(@item.ID)"><i class="bi bi-tools"></i> Sửa</div>
                        <div data-id="@item.ID" onclick="openConfirmationDialog(this)" class="btn btn-danger btn-delete"><i class="bi bi-trash"></i> Xóa</div>
                    <td>
                </tr>
                STT++;
            }
        }
    </tbody>

</table>
