
@{
    ViewBag.Title = "BookingGym";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebApp.Models.tb_Arena
@{
    List<WebApp.Models.tb_Arena> Gyms = ViewBag.Gyms;
    WebApp.Models.tb_User Account = Session["UserInfor"] as WebApp.Models.tb_User;

}

<style>
    #content {
        padding: 30px;
    }

    .box-time {
        padding: 10px 2px;
        margin-left: 18px;
        margin-top: 10px;
        font-size: 14px;
    }

    .modal-title {
        width: 100%;
    }

    .modal-header {
        background-color: #2a86bb;
        color: white;
    }
</style>


<div class="modal modal-lg fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center text-uppercase" id="staticBackdropLabel">Đặt phòng gym</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Ajax.BeginForm("HandleBookingGym", "Home", new AjaxOptions()
            {
                HttpMethod = "POST",
                OnSuccess = "handleSuccess",
                OnFailure = "handleFailure",
            }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <!-- Partial view sẽ được hiển thị ở đây -->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Đặt phòng</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Gyms)
        {

            <div class="col-lg-3 col-md-6 col-sm-12 my-2" onclick="GetFormBooking('@item.ArenaID')">
                <div class="card rounded-4" style="overflow: hidden;">
                    <div class="card-title">
                        <div class="card-img"><img src="~/Uploads/background-dung-cu-the-thao.jpg" alt="Ảnh sân cầu lông" width="100%" /></div>
                    </div>
                    <div class="card-body">
                        <p class="fs-5 fw-bolder">@item.ArenaName</p>
                        <p>Loại phòng: @item.tb_Size.SizeName</p>
                        <p>Sức chứa: @item.MaxPersons người</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>

    // Hàm được gọi đến khi ajax thành công
    function handleSuccess(data) {
        if (!data.success) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"](data.message, "Thông báo");
        } else {
            window.location.href = '/Home/PaymentProcess';
        }
    }

    // Hàm được gọi đến khi ajax không thành công
    function handleFailure() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["error"]("Đã có lỗi xảy ra trong quá đặt phòng!", "Thông báo")

    }

    // Hàm mở form đặt sân
    function GetFormBooking(arenaID) {
        $.ajax({
            url: '/Home/GetFormBookingGym/',
            type: 'GET',
            data: { arenaID: arenaID },
            success: function (data) {
                $('#myModal .modal-body').html(data);
                $('#myModal').modal('show');
            },
            error: function () {

            }
        })
    }

        function checkLogintoBook() {
    if (eval(@Account)== null) {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["info"]("Bạn cần đăng nhập để có thể đặt phòng!", "Thông báo");
        return false;

    }
    return true;
}

    // Kiểm tra hợp lệ dữ liệu nhập trước khi submit
    $(document).ready(function () {
        $('button[type="submit"]').click(function (event) {
            if (!validateContactName() ||
                !validatePhoneNumber() ||
                !validateTinhTrang() ||
                !validateNgayBatDau() ||
                !validateNgaySuDung() ||
                !checkLogintoBook()){
                event.preventDefault();
            }
        });
    })


</script>

