
@model WebApp.Models.tb_User

@{
    ViewBag.Title = "Đăng nhập";
}

<style>
    .container-login {
        width: 100%;
        height: 100vh;
        background-image: url('/Uploads/regis_loginImage.jpg');
        background-size: cover;
    }

    .form-control {
        background-color: rgba(255,255,255,0.2);
    }

        .form-control:focus {
            background-color: rgba(255, 255, 255, 1);
            color: black;
        }

    .card {
        font-size: 18px;
    }

    .label {
        color: black;
    }

    .textbox {
    }

    .card-header {
        color: black;
        text-shadow: 0 0 10px revert-layer;
    }

    .forgotPassword {
        text-decoration: none;
        float: right;
        font-size: 14px;
    }

        .forgotPassword:hover {
            font-weight: bold;
        }
</style>


<div class="container-login">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%; transform: translateY(-10%) ">
        <div class="col-md-4">
            <div class="card" style="background-color: rgba(255, 255, 255, 1);">
                <div class="card-header text-center fs-3 fw-bold text-uppercase">Đăng nhập</div>
                <div class="card-body">
                    @using (Ajax.BeginForm("Login", "Home", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        OnSuccess = "loginSuccess",
                        OnFailure = "loginFailure",
                    }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group row px-4 py-2">
                            @Html.LabelFor(m => m.UserName, new { @class = "row label" })
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control textbox", required = "required" })
                            <span id="userNameError" class="text-danger"></span>
                        </div>

                        <div class="form-group row px-4 py-2">
                            @Html.LabelFor(m => m.Password, new { @class = "row label" })
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control textbox", required = "required", type = "password" })
                            <span id="passwordError" class="text-danger"></span>
                        </div>

                        <div class="form-group row px-4 py-4">
                            <button type="submit" class="btn btn-outline-secondary btn-block">Đăng nhập</button>
                        </div>
                        <div>
                            <a class="forgotPassword" href="/Home/ForgotPassword">Quên mật khẩu</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function loginSuccess(data) {
        debugger
        if (data.success) {
            window.location.href = '/Home/BookingBadminton';
        } else {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"](data.message, "Thông báo")
        }
    }

    function loginFailure() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["error"]("Đã có lỗi xảy ra trong quá trình đăng nhập!", "Thông báo")

    }

    $(document).ready(function () {
        isValid = true;
        // Validation for UserName
        $('#UserName').on('blur', function () {
            var userName = $(this).val().trim();
            var $userNameError = $('#userNameError');
            if (userName === "") {
                $userNameError.text("Vui lòng nhập tên đăng nhập.");
                isValid = false;
            } else {
                $userNameError.text("");
                isValid = true;
            }
        });
        // Validation for Password
        $('#Password').on('blur', function () {
            var password = $(this).val().trim();
            var passwordError = $('#passwordError');
            if (password === "") {
                passwordError.text("Vui lòng nhập tên đăng nhập.");
                isValid = false;
            } else {
                passwordError.text("");
                isValid = true;
            }
        });
        // Prevent form submission if there are validation errors
        $('button[type="submit"]').click(function (event) {
            if (!isValid) {
                //chặn hành động submit khi chưa valid xong
                event.preventDefault();
                //hiển thị thông báo lỗi

            }
        });
    });
</script>







