<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <style>
        /* CSS để tùy chỉnh giao diện */

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -200px; /* Ẩn sidebar ban đầu */
            width: 200px;
            padding: 0px 20px;
            background-color: #f8f9fa;
            transition: left 0.5s;
            padding-top: 50px;
        }

        #content {
            margin-left: 0;
            transition: margin-left 0.5s;
            margin-top: 60px;
        }

        .menu-toggle {
            cursor: pointer;
            padding: 0px 6px;
            border-radius: 50%;
        }

            .menu-toggle:hover {
                background: #CCCCCC;
            }
    </style>


</head>
<body>

    <div class="container-fluid">
        <div class="sidebar" id="sidebar">
            <ul class="nav flex-column">
                <li><a class="nav-link" href="@Url.Action("Index","Home") ">Trang chủ</a></li>
                <li><a class="nav-link" href="@Url.Action("Regis","Home") ">Đăng ký</a></li>
                <li><a class="nav-link" href="@Url.Action("Login","Home") ">Đăng nhập</a></li>
                <li><a class="nav-link" href="@Url.Action("Account","Home") ">Tài khoản</a></li>
                <li><a class="nav-link" href="@Url.Action("BookingBadminton","Home") ">Đặt sân cầu lông</a></li>
                <li><a class="nav-link" href="@Url.Action("BookingFootball","Home") ">Đặt sân bóng</a></li>
                <li><a class="nav-link" href="@Url.Action("BookingGym","Home") ">Đặt phòng gym</a></li>
                <li><a class="nav-link" href="@Url.Action("BookingSwimming","Home") ">Đặt bể bơi</a></li>
                <li><a class="nav-link" href="@Url.Action("HistoriesBooking","Home") ">Lịch sử đặt phòng</a></li>
            </ul>
        </div>

        <!-- Main content -->
        <div id="content">
            @RenderBody()
        </div>

        <!-- Menu toggle -->
        <div class="menu-toggle" style="position: fixed; top: 5px; left: 20px; font-size: 25px;">
            <div><i onclick="toggleSidebar()" class="bi bi-list"></i></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

        //
        if (!localStorage.getItem("keepToggle")) {
            localStorage.setItem("keepToggle", "close");
        }

        //mở menu
        $(document).ready(function () {
            var kt = localStorage.getItem("keepToggle");
            if (kt == "open") {
                var sidebar = $("#sidebar");
                var content = $("#content");
                sidebar.css("left", "0px");
                //sidebar.css("transition", "left 0.5s");
                content.css("margin-left", "200px");
                //content.css("transition", "margin-left 0.5s");
                localStorage.setItem("keepToggle", "open");
            }
        });
        // đóng mở menu
        function toggleSidebar() {
            var sidebar = $("#sidebar");
            var content = $("#content");

            //mở menu
            if (sidebar.css("left") === "-200px") {
                sidebar.css("left", "0px");
                sidebar.css("transition", "left 0.5s");
                content.css("margin-left", "200px");
                content.css("transition", "margin-left 0.5s");
                localStorage.setItem("keepToggle", "open");

            }

            //đóng menu
            else {
                sidebar.css("left", "-200px");
                content.css("margin-left", "0px");
                localStorage.setItem("keepToggle", "close");
            }

        }
        
    </script>

</body>
</html>
