<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* CSS để tùy chỉnh giao diện */

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -200px; /* Ẩn sidebar ban đầu */
            width: 200px;
            padding: 20px;
            background-color: #f8f9fa;
            transition: left 0.5s;
            padding-top: 80px;
        }

        .content {
            margin-left:0;
            transition: margin-left 0.5s;
        }

        .menu-toggle {
            cursor: pointer;
        }
        
    </style>

</head>
<body>

    <div class="container-fluid" style="padding: 0px">
        <div class="sidebar" id="sidebar">
            <ul class="nav flex-column">
                <li><a class="nav-link"  href="@Url.Action("Index","Home") ">Home</a></li>
                <li><a class="nav-link"  href="@Url.Action("About","Home") ">About</a></li>
                <li><a class="nav-link"  href="@Url.Action("Contact","Home") ">Contact</a></li>
            </ul>
        </div>

        <!-- Main content -->
        <div id="content">
            @RenderBody()
        </div>

        <!-- Menu toggle -->
        <div class="menu-toggle" style="position: fixed; top: 20px; left: 20px; font-size: 30px;">
            <span onclick="toggleSidebar()">&#9776;</span>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        if (!localStorage.getItem("keepToggle")) {
            localStorage.setItem("keepToggle", "close");
        }
      
        $(document).ready(function () {
            var kt = localStorage.getItem("keepToggle");
            if (kt == "open") {
                var sidebar = $("#sidebar");
                var content = $("#content");
                sidebar.css("left", "0px");
                sidebar.css("transition", "left 0.5s");
                content.css("margin-left", "200px");
                content.css("transition", "margin-left 0.5s");
                localStorage.setItem("keepToggle", "open");
            }
        });
        function toggleSidebar() {
            var sidebar = $("#sidebar");
            var content = $("#content");
            if (sidebar.css("left") === "-200px") {
                sidebar.css("left", "0px");
                sidebar.css("transition", "left 0.5s");
                content.css("margin-left", "200px");
                content.css("transition", "margin-left 0.5s");
                localStorage.setItem("keepToggle", "open");
                
            }
            else {
                sidebar.css("left", "-200px");
                content.css("margin-left", "0px");
                localStorage.setItem("keepToggle", "close");
            }
            
        }
    </script>

</body>
</html>
