<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/chart.js"></script>
    <style>
        /* CSS để tùy chỉnh giao diện */

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -240px; /* Ẩn sidebar ban đầu */
            width: 240px;
            padding: 0px 12px;
            background-color: #f8f9fa;
            transition: left 0.5s;
            padding-top: 50px;
        }

        #content {
            margin-left: 0;
            transition: margin-left 0.5s;
        }

        .menu-toggle {
            cursor: pointer;
            padding: 0px 6px;
        }

        .icon-menu {
            border-radius: 50%;
            padding: 0px 5px;
        }

            .icon-menu:hover {
                background: #CCCCCC;
            }

        .footer {
            border-top: 2px solid #CCCCCC;
        }

        .container-fluid {
            padding: 0px !important;
        }


        #body-content {
            min-height: 100vh;
        }

    </style>

    <style>
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            float: left;
            min-width: 10rem;
            padding: .5rem 0;
            margin: .125rem 0 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
            z-index: 1000;
        }

            .dropdown-menu.show {
                display: block;
            }

        .icon {
            font-size: 20px;
        }

        .img-icon {
            width: 18px;
            margin-right: 10px;
        }

        .sidebar ul li {
            border-radius: 10px;
        }

            .sidebar ul li:hover {
                background: #CCCCCC;
            }

            .sidebar ul li a {
                color: black;
            }

        i {
            padding-right: 10px;
        }
    </style>

</head>
<body>
    @{
        var Account = Session["UserInfor"] as WebApp.Models.tb_User;
    }

    <div class="container-fluid">
        <div class="sidebar" id="sidebar">
            <ul class="nav flex-column">
                <li><a class="nav-link" href="@Url.Action("Index","Home") "><i class="bi bi-house-door icon"></i> Trang chủ</a></li>

                @if (Account != null)
                {
                    <li><a class="nav-link" href="@Url.Action("Account","Home") "><i class="bi bi-person-fill-gear icon"></i> Tài khoản</a></li>
                }

                @if (Account == null)
                {
                    <li><a class="nav-link" href="@Url.Action("Regis","Home") "><i class="bi bi-person-fill-add icon"></i> Đăng ký</a></li>
                    <li><a class="nav-link" href="@Url.Action("Login","Home") "><i class="bi bi-person-fill-up icon"></i> Đăng nhập</a></li>
                }

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-calendar-fill" style="color: black;"></i> Đặt phòng
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="@Url.Action("BookingBadminton","Home")"><img src="~/Uploads/Icon/shuttlecock.png" class="img-icon" /> Đặt sân cầu lông</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("BookingFootball","Home")"><img src="~/Uploads/Icon/soccer-ball-variant.png" class="img-icon" /> Đặt sân bóng</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("BookingGym","Home")"><img src="~/Uploads/Icon/dumbbell.png" class="img-icon" /> Đặt phòng gym</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("BookingSwimming","Home")"><img src="~/Uploads/Icon/swimming.png" class="img-icon" /> Đặt bể bơi</a></li>
                    </ul>
                </li>

                @if (Account != null)
                {
                    <li><a class="nav-link" href="@Url.Action("HistoriesBooking","Home") "><img src="~/Uploads/Icon/history.png" class="img-icon" /> Lịch sử đặt phòng</a></li>
                }
                @if (Account != null && Account.UserName == "admin")
                {
                    <li><a class="nav-link" href="@Url.Action("ManageRole","Home") "><img src="~/Uploads/Icon/management.png" class="img-icon" /> Quản lý quyền</a></li>
                    <li><a class="nav-link" href="@Url.Action("ManageUser","Home") "><img src="~/Uploads/Icon/group.png" class="img-icon" /> Quản lý người dùng</a></li>
                    <li><a class="nav-link" href="@Url.Action("ManageSize","Home") "><img src="~/Uploads/Icon/category.png" class="img-icon" /> Quản lý loại phòng</a></li>
                    <li><a class="nav-link" href="@Url.Action("ManageShift","Home") "><img src="~/Uploads/Icon/shift.png" class="img-icon" /> Quản lý khung giờ</a></li>
                    <li><a class="nav-link" href="@Url.Action("ManageArena","Home") "><img src="~/Uploads/Icon/room.png" class="img-icon" /> Quản lý phòng</a></li>
                    <li><a class="nav-link" href="@Url.Action("ManageBooking","Home") "><img src="~/Uploads/Icon/calendar.png" class="img-icon" /> Quản lý đặt phòng</a></li>
                    <li><a class="nav-link" href="@Url.Action("Statistical","Home") "><img src="~/Uploads/Icon/progress.png" class="img-icon" /> Xem thông kê</a></li>
                }

                @if (Account != null)
                {
                    <li><a class="nav-link" href="@Url.Action("Logout","Home") "><img src="~/Uploads/Icon/turn-off.png" class="img-icon" /> Đăng xuất</a></li>
                }

            </ul>
        </div>

        <!-- Main content -->
        <div id="content">
            <div id="body-content">
                @RenderBody()

            </div>
            <!-- Footer -->
            <div id="footer">
                @Html.Partial("_Footer")
            </div>
        </div>

        <!-- Menu toggle -->
        <div class="menu-toggle" style="position: fixed; top: 5px; left: 20px; font-size: 25px;">
            <div><i onclick="toggleSidebar()" class="bi bi-list icon-menu"></i> <span class="text-uppercase fw-bold">MC SPORT</span></div>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script>

        //
        if (!localStorage.getItem("keepToggle")) {
            localStorage.setItem("keepToggle", "close");
        }

        //mở menu
        $(document).ready(function () {
            var kt = localStorage.getItem("keepToggle");
            if (kt == "open") {
                var sidebar = $("#sidebar");
                var content = $("#content");
                sidebar.css("left", "0px");
                //sidebar.css("transition", "left 0.5s");
                content.css("margin-left", "240px");
                //content.css("transition", "margin-left 0.5s");
                localStorage.setItem("keepToggle", "open");
            }
        });
        // đóng mở menu
        function toggleSidebar() {
            var sidebar = $("#sidebar");
            var content = $("#content");

            //mở menu
            if (sidebar.css("left") === "-240px") {
                sidebar.css("left", "0px");
                sidebar.css("transition", "left 0.5s");
                content.css("margin-left", "240px");
                content.css("transition", "margin-left 0.5s");
                localStorage.setItem("keepToggle", "open");

            }

            //đóng menu
            else {
                sidebar.css("left", "-240px");
                content.css("margin-left", "0px");
                localStorage.setItem("keepToggle", "close");

            }

        }

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var dropdownToggle = document.querySelectorAll('.dropdown-toggle');

            dropdownToggle.forEach(function (toggle) {
                toggle.addEventListener('click', function (event) {
                    var dropdownMenu = this.nextElementSibling;

                    dropdownMenu.classList.toggle('show');
                    event.stopPropagation();
                });
            });

            // Close dropdown when clicking outside
            document.addEventListener('click', function (event) {
                var dropdownMenus = document.querySelectorAll('.dropdown-menu');
                dropdownMenus.forEach(function (menu) {
                    if (!menu.contains(event.target)) {
                        menu.classList.remove('show');
                    }
                });
            });
        });
    </script>

</body>
</html>
